*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: aqua;
  width: 100%;
  height: 100vh;
  place-items: center;
  display: grid;
  background-color: rgb(200, 213, 224);
}

.container{
background-color: antiquewhite;
display: flex;
flex-direction: column;
border-radius: 4px;
padding: 10px;
} 

.container h2{
  margin-bottom: 13px;
}

.container input{
  height: 2rem;
  margin-bottom: 9px;
  letter-spacing: 2px;
}

 .btns button{
  margin-right: 4px;
  font-size: 1rem;
  padding: 8px 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  opacity: .6;
  cursor: pointer;
  transition-duration: 300ms;
  color: #ffffff;
}

.btns button:first-child{
  background-color: green;
}
.btns button:last-child{
  background-color: blue;
}

.btns button:hover{
  opacity: 1;
}

